    @import "colors.css";
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
	  .dropdown-content {
      display: none;
      margin:auto;
      margin-top: 10px;
      position: relative;
      background-color: var(--bt-color);
      width: 98%;
      z-index: 1;
    }
    
    @media (min-width: 65rem) {
      .dropdown-content {
        position: absolute;
      }
    }
    
    .dropdown-content a{
      display: block;
      padding: 10px 0px 10px;
    }
	  .drop_opt {
      margin: 0;
      color: white;
      width: 100%;
      height: 100%;
    }
    .drop_opt:hover {
      background-color: var(--bt-h-color);
    }