    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
	  .dropdown-content {
      margin-top: 5px;
      display: none;
      position: absolute;
      background-color: #66BB6A;
      min-width: 160px;
      width: 100%;
      border: 1px solid #BFBFBF;
      box-shadow: 5px 5px 5px #888888;
      z-index: 1;
    }
    .dropdown-content a{
      display: block;
      padding: 10px 0px 10px;
    }
	  .drop_opt {
      margin: 0;
      color: white;
      width: 100%;
      height: 100%;
    }
    .drop_opt:hover {
      background-color: #A5D6A7;
    }