    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
	  .dropdown-content {
      margin-top: 5px;
      display: none;
      position: absolute;
      background-color: #90A4AE;
      min-width: 160px;
      width: 60%;
      border: 1px solid #BFBFBF;
      box-shadow: 5px 5px 5px #888888;
      z-index: 1;
    }
    .dropdown-content a{
      display: block;
      padding: 10px;
    }
	  .drop_opt: {
      margin: 0;
      padding: 10px;
      text-align: center;
    }
    .drop_opt:hover {
      background-color: #CFD8DC;
    }