@import "colors.css";

.gallery {
  padding: 5px 10px 15px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: auto;
  max-width: 90%;
  background-color: var(--bd-color);
}

.gal_desc {
  font-weight: bold;
  text-align: center;
}

.gal_img {
  width:100%;
  display: block;
  margin-bottom: 0.5rem;
}

.gal_con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (orientation: landscape) and (min-width: 800px), (min-width: 1000px) {
  .gallery {
    min-width: 20rem;
    max-width: 45%;
  }
}

@media (min-width: 1300px) {
  .gallery {
    min-width: 20rem;
    max-width: 30%;
  }
}
