@import "colors.css";


	  .navbar {
      list-style-type: none;
      padding: 0px; 
      background-color: var(--bt-color); 
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      width: 100%;
      margin: auto;
    }
    
	  .navbar_opt {
      padding: 10px 0px 10px;
      color: var(--bt-f-color);
      width: 100%;
      margin: auto;
      text-align: center;
      border-bottom: 1px solid var(--bd-color);
    }
    
	  .navbar_opt:hover {
      background-color: var(--bt-h-color);
    }
    
    
    
    @media (orientation: landscape) and (min-width: 800px) and (min-width: 50rem), (min-width: 1000px) and (min-width: 50rem) {
      .navbar {
        font-size: 1rem;
        display: grid;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: "navbar_opt navbar_opt navbar_opt navbar_opt navbar_opt ";
        /*background-color: var(--div-color); 
        color: var(--blk-color);
        border-bottom: solid 1px var(--blk-color);*/
      }
      
      .navbar_opt {
        border: none;
        /*color: var(--blk-color);*/
      }
      
      .navbar_opt:hover {
        /*background-color: var(--div-color);
        box-shadow: 0px 5px 0px inset var(--bt-color);*/
      }
    }
    
    @media (min-width: 1000px) and (min-width: 50rem){
      .navbar {
        font-size: 1.4rem;
      }
    }
    
    @media (min-width: 800px) and (max-width: 999px) and (orientation: landscape) and (min-width: 50rem){
      .navbar {
        font-size: 1rem;
      }
    }