    @import "colors.css";
    
    a {
      text-decoration: none; 
      color: black;
    }
    
    .center {
      margin: auto; 
      text-align: center;
    }
    
	  .contact-table {
      text-align: left;
    }
    
    
	  .mapouter {
      margin-top: 2rem;
      padding: 5px 5px 5px 5px;
      background-color: #EEEEEE;
    }
    
    .map {
      width: 100%;
      min-height: 500px;
      margin-left:auto; 
      margin-right:auto;
    }
    
    .header.imp {
      width:100%;
      min-height:500px;
      height:20%;
      margin-left:auto; 
      margin-right:auto;
    }
    
    .calendar {
      background-color: var(--div-color);
      width: 90%;
      margin:5%;
    }
    
    .download {
      background-color: var(--bt-color);
      border: none;
      color: white;
      align: center;
      padding: 1rem 2rem 1rem;
      cursor: pointer;
      display: inline-block;
      margin: auto;
      align: center;
      font-size: 1.5rem;
    }
    
    .download:hover {
      background-color: #42A5F5;
    }
    
    .calendar_outer{
      background-color: #EEEEEE
    }
    
	  
	  .navbar_opt:hover {
      background-color: #A5D6A7;
    }
   
    
    
    
    #impressum {
      text-align: center;
    }
    
    #logo {
      min-width: 4rem;
      max-width: 60%;
      display: block; 
      margin-left:auto; 
      margin-right:auto;
    }
    
    #hausost {
      max-width: 100%; 
      display: block; 
      margin-left:auto; 
      margin-right:auto;
    }
    
    #eingang {
      width: 15rem;
    }
    
	  #imp {
      background-color: #A5D6A7;
      text-align: center; 
      margin-left: auto; 
      margin-right: auto;
      width: 90%;
    }
    
    
    @media (min-width: 65rem) {
      #logo {
        min-width: 10rem; 
        max-width: 25%; 
      }
    }