    .center {
      margin: auto; 
      text-align: center;
    }
    
	  .contact-table {
      text-align: left;
    }
    
	  .navbar {
      padding: 0px 0px 0px; 
      background-color: #90A4AE; 
      color: black; 
      font-size: 14pt;
      font-weight: bold;
      margin: 10px
    }
	  .navbar_opt {
      padding: 10px 10px 10px;
      background-color: #90A4AE;
      color: black; 
      width: 100%;
      margin: auto;
      text-align: center;
    }
    
	  .mapouter {
      margin-top: 2rem;
      padding: 5px 5px 5px 5px;
      background-color: #EEEEEE;
    }
    .map {
      max-width: 95%; 
      margin-left:auto; 
      margin-right:auto;
    }
    
    .calendar {
      background-color: #CFD8DC;
      width: 90%;
      margin:5%;
    }
    
    .calendar_outer{
      background-color: #EEEEEE
    }
	  
	  .navbar_opt:hover {
      background-color: #CFD8DC
    }
    
    
    
    #impressum {
      text-align: center;
    }
    #logo {
      min-width: 200px; 
      max-width: 25%; 
      display: block; 
      margin-left:auto; 
      margin-right:auto;
    }
    #hausost {
      max-width: 100%; 
      display: block; 
      margin-left:auto; 
      margin-right:auto;
    }
	  #imp {
      text-align: center; 
      margin-left:auto; 
      margin-right:auto;
      width: 90%;
    }
	  
	  a {
      text-decoration: none; 
      color: black;
    }